.bg-es-dark-green-3 { background-color: var(--es-dark-green-3); }
.bg-es-dark-green-2 { background-color: var(--es-dark-green-2); }
.bg-es-dark-green-1 { background-color: var(--es-dark-green-1); }
.bg-es-green { background-color: var(--es-green); }
.bg-es-light-green-1 {background-color: var(--es-light-green-1); }
.bg-es-light-green-2 { background-color: var(--es-light-green-2); }
.bg-es-light-green-3 { background-color: var(--es-light-green-3); }
.bg-es-light-green-4 { background-color: var(--es-light-green-4); }
.bg-es-dark-gray-2 { background-color: var(--es-dark-gray-2); }
.bg-es-dark-gray-1 { background-color: var(--es-dark-gray-1); }
.bg-es-gray { background-color: var(--es-gray); }
.bg-es-light-gray-1 { background-color: var(--es-light-gray-1); }
.bg-es-light-gray-2 { background-color: var(--es-light-gray-2); }
.bg-es-light-gray-3 { background-color: var(--es-light-gray-3); }

.es-dark-green-3 { color: var(--es-dark-green-3); }
.es-dark-green-2 { color: var(--es-dark-green-2); }
.es-dark-green-1 { color: var(--es-dark-green-1); }
.es-green { color: var(--es-green); }
.es-light-green-1 { color: var(--es-light-green-1); }
.es-light-green-2 { color: var(--es-light-green-2); }
.es-light-green-3 { color: var(--es-light-green-3); }
.es-light-green-4 { color: var(--es-light-green-4); }
.es-dark-gray-2 { color: var(--es-dark-gray-2); }
.es-dark-gray-1 { color: var(--es-dark-gray-1); }
.es-gray { color: var(--es-gray); }
.es-light-gray-1 { color: var(--es-light-gray-1); }
.es-light-gray-2 { color: var(--es-light-gray-2); }
.es-light-gray-3 { color: var(--es-light-gray-3); }

.border--es-dark-green-3 { border-color: var(--es-dark-green-3); }
.border--es-dark-green-2 { border-color: var(--es-dark-green-2); }
.border--es-dark-green-1 { border-color: var(--es-dark-green-1); }
.border--es-green { border-color: var(--es-green); }
.border--es-light-green-1 { border-color: var(--es-light-green-1); }
.border--es-light-green-2 { border-color: var(--es-light-green-2); }
.border--es-light-green-3 { border-color: var(--es-light-green-3); }
.border--es-light-green-4 { border-color: var(--es-light-green-4); }
.border--es-dark-gray-2 { border-color: var(--es-dark-gray-2); }
.border--es-dark-gray-1 { border-color: var(--es-dark-gray-1); }
.border--es-gray { border-color: var(--es-gray); }
.border--es-light-gray-1 { border-color: var(--es-light-gray-1); }
.border--es-light-gray-2 { border-color: var(--es-light-gray-2); }
.border--es-light-gray-3 { border-color: var(--es-light-gray-3); }

.fill-es-dark-green-3 { fill: var(--es-dark-green-3); }
.fill-es-dark-green-2 { fill: var(--es-dark-green-2); }
.fill-es-dark-green-1 { fill: var(--es-dark-green-1); }
.fill-es-green { fill: var(--es-green); }
.fill-es-light-green-1 { fill: var(--es-light-green-1); }
.fill-es-light-green-2 { fill: var(--es-light-green-2); }
.fill-es-light-green-3 { fill: var(--es-light-green-3); }
.fill-es-light-green-4 { fill: var(--es-light-green-4); }
.fill-es-dark-gray-2 { fill: var(--es-dark-gray-2); }
.fill-es-dark-gray-1 { fill: var(--es-dark-gray-1); }
.fill-es-gray { fill: var(--es-gray); }
.fill-es-light-gray-1 { fill: var(--es-light-gray-1); }
.fill-es-light-gray-2 { fill: var(--es-light-gray-2); }
.fill-es-light-gray-3 { fill: var(--es-light-gray-3); }

.stroke-es-dark-green-3 { stroke: var(--es-dark-green-3); }
.stroke-es-dark-green-2 { stroke: var(--es-dark-green-2); }
.stroke-es-dark-green-1 { stroke: var(--es-dark-green-1); }
.stroke-es-green { stroke: var(--es-green); }
.stroke-es-light-green-1 { stroke: var(--es-light-green-1); }
.stroke-es-light-green-2 { stroke: var(--es-light-green-2); }
.stroke-es-light-green-3 { stroke: var(--es-light-green-3); }
.stroke-es-light-green-4 { stroke: var(--es-light-green-4); }
.stroke-es-dark-gray-2 { stroke: var(--es-dark-gray-2); }
.stroke-es-dark-gray-1 { stroke: var(--es-dark-gray-1); }
.stroke-es-gray { stroke: var(--es-gray); }
.stroke-es-light-gray-1 { stroke: var(--es-light-gray-1); }
.stroke-es-light-gray-2 { stroke: var(--es-light-gray-2); }
.stroke-es-light-gray-3 { stroke: var(--es-light-gray-3); }
